*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    font-size: 30px;
    font-style: italic;
    color: black;
}


a{
    text-decoration: none;
}

body{
    background: url(./346763\ \(1\).png) no-repeat center center fixed;
    background-size: cover;
}

.container{
    text-align: center;
}

.container .name h1{
    color: aqua;
    font-size: 60px;
}

.container .name h5{
    font-size: 30px;
}

#about p{
    max-width:30em;
    margin: 0 auto;
}

/* .form{
    width: 40%;
} */

.form input{
    width: 50%;
}